<!DOCTYPE html>
<html>
<head>
    <title>Account Activation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/activate.css') }}">
    
</head>
<body>
    <div class="container">
        {% if 'username' in session %}
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{{ url_for('login_user') }}">Login</a>
        {% endif %}
        <h1>Account Activation</h1>
        <form method="POST" action="{{ url_for('activate_account') }}">
            <input type="hidden" name="username" value="{{ username }}">
            <button type="submit">Activate Account</button>
        </form>
    </div>
</body>
</html>
