<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Profile</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/add_profile.css') }}">
</head>
<body>
  <form action="{{ url_for('editStudentProfile') }}" method="POST" enctype="multipart/form-data" onsubmit="return validateForm();">
    <div class="container py-3">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="username">Username : {{ username }}</div>
        {% if 'username' in session %}
        <a href="{{ url_for('logout') }}">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
        {% else %}
        <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ url_for('login_user') }}">
          <i class="fas fa-sign-in-alt"></i> Login
        </a>
        {% endif %}
      </div>
      <div class="title h1 text-center">Student Profile</div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-danger mt-3">
        {% for message in messages %}
        {{ message }}
        <br>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex flex-column">
            <div class="card flex-grow-1">
              <div class="card-block">
                
                <div class="form-group">
                  <label for="textInput"><i class='fas fa-globe' style='font-size:15px'></i>
            <span class="ml-1">Website:</span></label>
                  <input type="text" id="textInput" class="form-control" placeholder="Enter text" name="website" value="{{ existing_website }}">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 d-flex flex-column">
            <div class="card flex-grow-1">
              <div class="card-block">
                <div class="form-group">
                  <label for="textarea">Career Objective:</label>

                  <textarea id="textarea" class="form-control" rows="4" placeholder="Enter your text here" name="careerObjective">{{ existing_career }}</textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <input type="hidden" name="totalExperienceEntries" id="totalExperienceEntries" value="0">
      <div class="ecard" id="myEcard">
        <h2 class="ecard-title">Experience:</h2>
        <div class="ecard-content">
          {% if experience_info %}
              <table class="experience-table">
                  <tr>
                      <th>Company Name</th>
                      <th>Role Type</th>
                      <th>From Year</th>
                      <th>To Year</th>
                      <th>Action</th>
                  </tr>
                  {% for exp in experience_info %}
                  <tr>
                      <td>{{ exp.companyName }}</td>
                      <td>{{ exp.role }}</td>
                      <td>{{ exp.fromYear }}</td>
                      <td>{{ exp.toYear }}</td>
                      <td><a href="{{url_for('delete_experience', index=loop.index)}}"><i class="fa fa-trash" style="color:#FF7F50"></i></i></a>
                          
                      </td>
                  </tr>
                  <tr>
                      <td colspan="5">
                          <strong>Project Description:</strong><br>
                          {{ exp.projectDesc }}
                      </td>
                  </tr>
                  {% endfor %}
              </table>
              {% else %}
              <h6>Data not existing on Experience details</h6>
              {% endif %}
        </div>

        <input type="hidden" name="totalExperienceEntries" id="totalExperienceEntries" value="0">
         <!-- <div class="ecard" id="myEcard"> -->
        <!-- <h2 class="ecard-title">Experience:</h2> -->
        <div class="ecard-content" id="experienceContainer">
        </div>
        <br><br>
        <button type="button" class="ecard-button" onclick="addExperience()">
          <i class="fas fa-plus"></i>
        </button>
      <!-- </div> -->
        <!-- <button type="button" class="add-experience-button" onclick="addNewExperienceInput()">
          <i class="fas fa-plus"></i> Add Experience
        </button> -->

      </div>
      <input type="hidden" name="totalskills" id="totalskills" value="0">
      <div class="scard" id="myScard">
        <h2 class="scard-title">Skills:</h2>
        <div class="scard-content">

          {% if skill_info %}
              <table class="experience-table">
                  <tr>
                      <th>Technology</th>
                      <th>Level</th>
                      <th>Action</th>
                  </tr>
                  {% for si in skill_info %}
                  <tr>
                      <td>{{ si.techName }}</td>
                      <td>{{ si.skillLevel }}</td>
                      <td><a href="{{url_for('delete_skills', index=loop.index)}}"><i class="fa fa-trash" style="color:#FF7F50"></i></a>   
                      </td>
                  </tr>
                  
                  {% endfor %}
              </table>
              {% else %}
              <h6>Data not existing on Skill details</h6>
              {% endif %}
        </div>
        <button type="button" class="ecard-button" onclick="addSkills()">
          <i class="fas fa-plus"></i>
        </button>
      </div>

      <div class="container">
        <div class="row">
          <!-- First Column -->
          <div class="col-md-6">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><i class='fas fa-map-marker-alt' style='font-size:20px'></i>
            <span class="ml-1">Address Details:</span>
                <h6 class="card-title" style="color:red;">Note:If there are any changes in the address, change it manually</h6>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="pincodeInput">Enter Pincode:</label>
                      <input type="text" id="pincodeInput" class="form-control" placeholder="Enter pincode" name="pincode" value="{{address_info.pincode}}">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="stateInput">State:</label>
                      <input type="text" id="stateInput" class="form-control" name="state" value="{{address_info.state}}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="districtInput">District:</label>
                      <input type="text" id="districtInput" class="form-control" name="district" value="{{address_info.district}}">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="mandalInput">Mandal:</label>
                      <input type="text" id="mandalInput" class="form-control" name="mandal" value="{{address_info.mandal}}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="villageInput">Village:</label>
                      <input type="text" id="villageInput" class="form-control" name="village" value="{{address_info.village}}">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="countryInput">Country:</label>
                      <input type="text" id="countryInput" class="form-control" value="{{address_info.country}}" readonly name="country">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex flex-column">
            <div class="card flex-grow-1">
              <div class="card-block">
                <div class="form-group">
                  <label for="hobbiesInput">Hobbies:</label>
                  <input type="text" id="hobbiesInput" class="form-control" placeholder="Enter your hobbies" name="hobbies" value="{{existing_hobbies}}">
                </div>

                <input type="hidden" name="totalMedia" id="totalMedia" value="0">
                <!-- <div class="smcard" id="myScard"> -->
                  <h5 class="smcard-title">Social Media Details:</h5>
                  <div class="social-media-fields">
                    <!-- Social media input fields will be added here dynamically -->
                    {% if media_info %}
                    <table class="experience-table">
                        <tr>
                            <th>Social Media</th>
                            <th>URI</th>
                            <th>Action</th>
                        </tr>
                        {% for mi in media_info %}
                        <tr>
                            <td>{{ mi.socialMedia }}</td>
                            <td>{{ mi.socialMediaURL }}</td>
                            <td><a href="{{url_for('delete_social_media', index=loop.index)}}"><i class="fa fa-trash" style="color:#FF7F50"></i></a>   
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </table>
                    {% else %}
                    <h6>Data not existing on Social media details</h6>
                    {% endif %}
                  </div>
                  <button type="button" class="smcard-button" onclick="addSocialMediaInput()">
                    <i class="fas fa-plus"></i>
                  </button>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
    <script src="{{url_for('static', filename='js/student/student_profile.js')}}"></script>

    

  </body>
</html>


